
.App {
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  display: flex;
  height: 100%;
}

.root {
  width: 100%;
  height: 100%;
}

.canvas {
  flex: 1;
  display: block;
  max-width: 100%;
  /* max-height: calc(100vh - 9vh); */
  width: 100%;
  height: 100%; 
  /* position: fixed; */
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  width: 100%;
}

.ant-tabs .ant-tabs-left-bar, .ant-tabs .ant-tabs-right-bar {
  /* width: 15%; */
  /* height: 95%;
  border-bottom: 0;
  background: #E9E3DC ;
  display: flex;
  align-items: self-start;
  text-align: center; */
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab, .ant-tabs .ant-tabs-right-bar .ant-tabs-tab {
  /* display: block;
  float: none;
  margin: 0 0 11px 0;
  padding: 8px 20px !important;
  height: 50px; */
}
.ant-tabs-nav-container {
  /* position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: -1px;
  overflow: hidden;
  font-size: 17px !important;
  line-height: 1.5715;
  white-space: nowrap;
  -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); */
}
.ant-tabs-nav .ant-tabs-tab-active {
  /* color: #374abd !important;
  font-weight: 500; */
}
.ant-tabs-ink-bar {
  /* position: absolute;
  bottom: 1px;
  left: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 0;
  height: 2px;
  background-color: #374abd !important;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; */
}
.ant-tabs-nav .ant-tabs-tab-active {
  color: #E71E23 !important;
  font-weight: 500;
}
.ant-tabs .ant-tabs-left-content {
  /* padding-left: 5px !important;
  border-left: 1px solid #f0f0f0; */
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #E71E23 !important;
}
.ant-tabs-nav .ant-tabs-tab:hover {
  color: #E71E23 !important;
}

.ant-tabs-ink-bar {
  background-color: #E71E23 !important;
}

.ant-tabs-nav .ant-tabs-tab {
  color: rgb(70, 70, 70) ;
  width: 25%;
  justify-content: center;
}

.ant-btn:hover, .ant-btn:focus {
  color: #E71E23 !important;
  background-color: #fff !important;
  border-color: #E71E23 !important ;

}
.ant-btn {
  background-color: #fff !important;
  /* imp */
  border-color: #bbb !important;
  color: #3c3c3c !important;
}

.ant-btn-primary {
  color: #000 !important;
  /* color: #374abd !important; */
  background-color: #fff !important;
  border-color: rgb(138, 138, 138) !important ;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-form-vertical .ant-form-item-label > label, .ant-col-24.ant-form-item-label > label, .ant-col-xl-24.ant-form-item-label > label{
  color: #E21A21;
}

/* .ant-btn,
.ant-btn:active {
  background-color: #303030 !important;
  border-color: #a3c744 !important;
  color: #a3c744 !important;
} */

.ant-radio-button-wrapper {
  border: 1px solid #bbb !important;
  color: black !important;
}
.ant-radio-button-wrapper:hover {
  position: relative;
  color: black !important;
  border-color: #374abd !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
  border-color: #374abd !important;
  color: #fff !important;
  background-color: #374abd !important;
  opacity: 0.8 !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #fff !important;
  background: #374abd !important;
  border-color: #374abd !important;
  opacity: 0.8 !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: #374abd !important;
  color: #fff !important;
  opacity: 0.8 !important;
}

.ant-layout-header {
  height: 8VH !important;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 8VH !important;
  background: #2f3fa0 !important;
}

.ant-modal-body {
    /* padding: 24px; */
    max-height: 60vh !important;
    overflow: auto !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.ant-tabs-tab {
  /* padding: 24px; */
  /* display: flex !important; */
  text-align: center;
}

/* .ant-tabs-nav {
  width: 100% !important;
} */

/* .ant-tabs-nav .ant-tabs-tab { 
  width: 48% !important;
  margin:0 2% 0 0  !important;
}  */

.selectedStyleButton {
  border-color: #374abd !important;
}
.unSelectedStyleButton {
  border-color: #bbb !important;
}

.ant-checkbox-group-item {
  display: block !important;
  margin-right: 0 !important;
}

